.card{
  width: 55%;
  margin-left: 1%;
}
#overview .img {
  float: left;
  width: 30%;
  margin-right: 5%;
  margin-top: 50px;
}
#overview img {
  background: #fafafa;
  padding: 5px;
  border: 5px solid gold;
  float: ;
  width: 100%;
  max-width: 600px;
}
#top {
  background-image: url(https://avatars.mds.yandex.net/get-pdb/1813549/46ce7105-1c8e-4766-a086-b8e381b62ec6/s1200);
  background-attachment: fixed;
  background-blend-mode: multiply;
}

#footer {
	height: auto;
	padding-top: 40px;
	padding-bottom: 20px;
	position: relative;
	z-index: 3;
	margin: -43px 0 0 0;
	background: #0072BC;
	font-size: 13px;
	color: #fff;
}

	#footer .indent {
		padding: 8px 0 8px 0;
	}

	#footer h4 {
		font-size: 18px;
		line-height: 22px;
		margin-bottom: 16px;
	}

	#footer a {
		text-decoration: none;
		color: #fff;
	}

		#footer a:hover {
			text-decoration: underline;
		}
    faq {
      background-color: #fff;
      border-top: 2px dashed #e4e3e3;
      width: 100%;
      float: left;
      padding-top: 70px;
      padding-bottom: 70px;
    }

    @media (min-width: 801px) {
      #faq div {
        width: 25%;
        margin-left: 6%;
        float: left;
      }
    }

    @media (max-width: 800px) {
      #faq div {
        width: 80%;
        margin-left: 10%;
        float: left;
      }
    }

    #faq .title {
      font-weight: lighter;
      color: #a3a0ad;
      margin-bottom: 20px;
      font-size: 2.2em;
    }

    #faq .heading {
      color: #7d7d7d;
      font-size: 1.3em;
      font-weight: bold;
    }

    #faq p {font-family: Arimo, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #4a4a4a;
    font-size: 0.95em;
    margin-bottom: 40px;
    }
#div.purple{
  background: #6600FF;
}
#header{
  background-color: #252850;
}

button {
  cursor: pointer;
}
button:focus {
  outline: 0 !important;
  box-shadow: none !important;
}
.blog_right_sidebar .search_widget .input-group button {
  background: #fff;
  border-left: 0;
  border: 1px solid #f0e9ff;
  padding: 4px 15px;
  border-left: 0;
}
.blog_right_sidebar .search_widget .input-group button i, .blog_right_sidebar .search_widget .input-group button span {
  font-size: 14px;
  color: #999999;
}
.button {
  display: inline-block;
  background-color: #56872b;
  color: #fff;
  border-radius: 5px;
  padding: 8px 25px;
  text-transform: capitalize;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;

}
@media (min-width: 600px) {
  .button {
    padding: 12px 45px;
  }
}
.button:hover {
  background-color: #001d18;
  color: #fff; 
}

.button-hero {
  font-weight: 500;
}

.button-contactForm {
  border-radius: 5px;
  }

.button-shadow {
  box-shadow: 0px 10px 20px 0px rgba(181, 176, 255, 0.2);
}

button.button {
  border: 0;
}



