body {
    background: #000000 url(header.jpg) no-repeat center top;
    margin: 0;
    overflow: hidden;
}

#info {
    color: white;
    font-family: monospace;
}

canvas {
    position: absolute;
	
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
}

img {
    position: absolute;
    cursor: pointer;

}

#container {
    position: absolute;
    width: 768px;
    height: 485px;
    left: 0;
    right: 0;
    top: 30%;
    bottom: 0;
    margin: auto;
}